.reset-button {
  background-color: transparent;
  border: none;

  color: var(--main-color);
  font-family: var(--basic-font);
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
  cursor: pointer;
}
