.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.player__item {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 7px 24px;
  border: 1px solid var(--border-color);
  border-radius: 6px;

  &--active-player {
    border-bottom: 2px solid var(--main-color);
  }
}

.player__name {
  color: var(--text-color);
  font-size: 24px;
  font-family: var(--basic-font);
  font-weight: 400;

  &--win-player {
    color: var(--main-color);
  }
}
