.game-board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  max-width: 650px;
  width: 100%;
  height: 100%;
  padding: var(--save-area-padding);

  justify-items: center;
}

.game-board__header {
  width: 100%;
}
