.game-board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 40px;
  max-width: 650px;
  width: 100%;
  height: 100%;
  padding: var(--save-area-padding);

  justify-items: center;
}

.game-board__header {
  width: 100%;
}

.game-board__game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 0;
  background-color: var(--main-color);
}
